<% title "New User" %>

<% form_for @user, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <%- params.each_pair do |key, value| -%>
    <%= hidden_field_tag key, value %>
  <%- end -%>

  <p><%= f.submit "Submit" %></p>
<% end %>

